*{
	margin: 0px;
	padding: 0px;
	text-decoration: none !important;
	list-style-type: none !important;
}
ul, li, ul li, ul li ul li, a, ul li a, ul li ul li a{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #ecf0f1;
	margin: 0px;
	padding: 0px;
}

/* essa parte aqui é responsavel pela parte principal
onde vai ficar a imagem grande com algumas infos do painel */
.header-painel{
	width: 100%;
	height: 250px;
	background-color: #ffffff;	
}

/* menu do painel */
nav{
	width: 100%;
	height: 50px;
	background-color: #0b94d6;
}
nav > ul{
	margin: 0 0 0 20px;
}
nav > ul > li{
	float: left;
	margin: 0 5px 0 5px;
}
nav > ul > li > a{
	padding: 14px;
	display: block;
	float: left;
	border: 1px solid #f00;
	color: #FFFFFF;
}
nav > ul > li > a:hover{
	border: 1px solid #FFFFFF;
}


/* botãozim do usuário no menu horizontal superior */
#info-usuario{
}



/* parte do content do site TODO */
.content{
	background-color: #ecf0f1;

}